@font-face {
	font-family: "DejaVuSansMono";
	src: url("https://cdn.jsdelivr.net/gh/tiencoffee/fonts/DejaVuSansMono.woff2");
}
:root {
	--sans: "Verdana","IBM Plex Sans",sans-serif;
}
body {
	margin: 0;
	font-family: var(--sans);
	font-size: 13px;
	background: #011627;
	overflow: hidden;
	user-select: none;
	cursor: default;
}
.loading {
	position: absolute;
	left: 50%;
	top: 50%;
	color: #fff;
	transform: translate(-50%,-50%);
}
