// @import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap'

@font-face
	font-family: "PragmataPro Mono"
	src: url("assets/fonts/PragmataPro-Mono-R.woff2")

*, :before, :after
	box-sizing: border-box

$sans = unquote("sans-serif")
$subSans = unquote("sans-serif")
$mono = unquote("PragmataPro Mono, monospace")

$lineHeight = 18px

$rankColors = {
	life: #4081eb
	domain: #4081eb
	kingdom: #4081eb
	phylum: #f75b94
	class: #f88f52
	order: #78c7df
	family: #5ece85
	tribe: #d391dd
	genus: #e2c08d
	species: #fff
	subspecies: #fff
}

html
	height: 100%

body
	height: 100%
	margin: 0
	font-family: $sans
	font-size: 16px
	overflow: hidden
	background: #282739
	color: #fff
	color-scheme: dark
	user-select: none
	cursor: default

for rankName, color in $rankColors
	.{rankName}
		color: color

.loading
	height: 100%
	display: flex
	flex-direction: column
	gap: 16px
	justify-content: center
	align-items: center

.main
	height: 100%

.scroll
	height: 100%
	overflow-x: hidden
	overflow-y: auto

.height
	width: 0
	margin-top: -100vh
	pointer-events: none

.lines
	height: 100%
	margin: 0
	padding-left: 64px

.line
	height: $lineHeight
	display: flex
	align-items: center
	font-family: $mono
	white-space: pre
	tab-size: 2

.lineFind > .node
	border-radius: 0
	outline: 2px solid #f9d87d

.indent
	height: $lineHeight

.node
	height: 100%
	margin-top: 8px
	padding: 0 6px
	border-radius: 4px
	display: inline-flex
	align-items: center
	font-family: $sans

.nodeName
	cursor: pointer

.nodeDash
	margin-left: 8px
	color: #8e95a1

.nodeTextEn
	margin-left: 6px
	font-family: $subSans
	font-style: italic
	color: #8e95a1

.nodeTextVi
	margin-left: 6px
	font-family: $subSans
	font-style: italic
	color: #a3a190

.nodeTextEn + .nodeTextVi
	&:before
		content: "\b7"
		margin-right: 6px

.nodeTextEnCopy
	display: inline-block
	gap: 6px
	text-decoration: underline
	text-decoration-skip-ink: none
	cursor: copy

	&:not(:first-child)
		margin-left: 6px

.nodeTextEnCopyIsDuplicateTextEn
	color: #ab5b78

.nodeImg
	min-width: 6px
	min-height: 6px
	max-width: 16px
	max-height: 16px
	margin-left: 8px
	padding: 1px
	background: #fff
	cursor: pointer

.nodeImg + .nodeImg
	margin-left: 4px

.bcrums
	position: absolute
	left: 64px
	top: 0

.bcrum
	position: absolute
	pointer-events: none

.bcrum > .line:nth-child(1)
	border-radius: 0
	background: #282739

.bcrum > .line:nth-child(2)
	> .indent
		clip-path: inset(0 0 .8ex 0)
		background: #282739

		&:has(+ .node)
			clip-path: inset(0 .12ch .8ex 0)

	> .node
		display: none

.bcrum > .line > .node
	background: #282739
	pointer-events: auto

.infos
	position: absolute
	right: 16px
	bottom: 0px
	padding: 16px 24px
	border-radius: 8px 4px 4px 4px
	display: grid
	grid-template-columns: repeat(3, auto)
	gap: 4px 16px
	background: #fff
	color: #000

.modfCountIncr
	color: #16a34a

.modfCountDecr
	color: #db2777

.lang
	position: absolute
	right: 22px
	bottom: 6px
	width: 30px
	padding: 6px
	border-radius: 6px 4px 4px 4px
	text-align: center
	background: #2cb3e6
	color: #0c4a6e
	cursor: pointer

.langIsVi
	background: #f472b6
	color: #831843

.find
	position: absolute
	top: 0
	right: 16px
	width: 300px
	padding: 6px
	border-radius: 4px 4px 4px 8px
	display: flex
	align-items: center
	background: #fff
	color: #000

.findInput
	width: 0
	height: 24px
	padding: 0 8px
	border: 0
	flex-grow: 1
	font: inherit
	background: inherit
	color: inherit
	outline: 0

.findCount
	margin: 0 8px 0
	font-size: 14px
	color: #888

.findButton
	width: 28px
	margin-left: 4px
	border-radius: 4px
	display: flex
	justify-content: center
	align-items: center
	align-self: stretch
	font-family: $mono
	cursor: pointer

	&:hover
		background: #07d3

.findButtonOn
	color: #07d

.findClose
	font-weight: 700
	color: #e43

	&:hover
		background: #e433

.popup
	max-width: min-content
	border-radius: 8px
	text-align: center
	overflow: hidden
	color: #000
	box-shadow: 1px 2px 12px 1px #0008
	pointer-events: none
	z-index: 100

.popupBody
	width: 328px
	padding: 8px 4px
	border-radius: 8px
	display: flex
	flex-direction: column
	background: #f1f5f9
	animation: popup 50ms forwards

@keyframes popup
	from
		transform: scale(.96)
	to
		transform: scale(1)

.popupIsTrinomial .popupName
	font-size: 15px

.popupIsTwoImage
	width: 652px

.popupName
	position: relative
	padding: 2px 8px 4px
	display: flex
	justify-content: center
	align-items: center
	font-weight: bold
	white-space: nowrap

.popupIcon
	position: absolute
	left: 8px
	width 24px
	height: 24px
	padding: 3px
	border-radius: 6px
	box-sizing: content-box
	background: center/24px no-repeat #1f2937

.popupRank
	position: absolute
	right: 8px
	color: #5e6570
	font-size: 11px

.popupTextEn, .popupTextVi
	padding: 0 8px 1px
	font-family: $subSans
	white-space: nowrap
	text-overflow: ellipsis
	overflow: hidden
	color: #333

.popupGenders
	margin-top: 6px
	display: flex
	justify-content: center
	column-gap: 4px

.popupGender
	width: 100%
	display: flex
	flex-direction: column
	align-self: stretch

.popupPicture
	position: relative
	width: 320px
	border-radius: 6px
	display: flex
	justify-content: center
	align-items: center
	flex-grow: 1
	overflow: hidden

	&:after
		content: ""
		position: absolute
		inset: 0
		border-radius: 6px
		box-shadow: inset 0 0 16px 1px #0003
		pointer-events: none

.popupBgImg
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	display: block
	object-fit: cover
	filter: blur(24px) saturate(2)

.popupImg
	max-width: 320px
	max-height: 240px
	display: block
	background: #fff
	filter: contrast(1.1) saturate(1.1)
	image-rendering: -webkit-optimize-contrast
	z-index: 0

.popupImgCover
	width: 100%
	height: 100%
	object-fit: cover

.popupGenderText
	margin-top: 2px
	margin-bottom: -1px
	padding: 0 8px
	font-size: 14px
	color: #333

.popupSummary
	padding: 0 8px
	line-height: 1.35

	&:not(:empty)
		margin-top: 6px

	> p
		margin: 0
		text-align: justify !important
	a
		text-decoration: none
		color: inherit
