*, *:before, *:after
   box-sizing border-box
:not(:focus-visible)
   outline 0
::-webkit-scrollbar
   -webkit-appearance none
   width 16px
   height 16px
   background #112637
::-webkit-scrollbar-corner
   background #0000
::-webkit-scrollbar-thumb
   background #314657
body
   margin 0
   font 12pt "IBM Plex Sans",sans-serif
   tab-size 5px
   overflow hidden
   background #011627
   color #f8f8f2
textarea
   white-space nowrap
   font inherit
   background #0000
   color inherit
   resize none
input, textarea
   &:focus
      outline 0
#appEl
   position absolute
   inset 0
.diff
   tab-size 8
.added
   color #6ae22e
.removed
   color #ec2b1d
.text
   color #648185
